<!-- Contact -->
<section id="contact">
	<div class="inner">	
		<section>
			<div class = "inner">
				<div class="row">
				<div class="6u 12u$(small)">
				<section>
					<div class="contact-method">
						<span class="icon alt fa-envelope"></span>
						<h3>Email</h3>
						<a href="#">{{ site.email }}</a>
					</div>
				</section>
			</div>
				<div class="6u 12u$(small)">
				<section>
					<div class="contact-method">
						<span class="icon alt fa-phone"></span>
						<h3>Phone</h3>
						<span>{{ site.phone }}</span>
					</div>
				</section>
			</div>
			<div class="6u 12u$(small)">
				<section>
					<div class="contact-method">
						<span class="icon alt fa-home"></span>
						<h3>Address</h3>
						<span>
						{% if site.street_address %}
								{{ site.street_address }}<br />
						{% endif %}
						{% if site.city %}
								{{ site.city }},
						{% endif %}
						{% if site.state %}
								{{ site.state }} 
						{% endif %}
						{% if site.zip_code %}
								{{ site.zip_code }}<br />
						{% endif %}
						{% if site.country %}
								{{ site.country }}
						{% endif %}
						</span>
					</div>
				</section>
			</div>
			</div>
			<form action="https://formspree.io/{{ site.email }}" method="POST">
				<div class="row uniform">
					<div class="6u 12u$(xsmall)">
						<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
					</div>
					<!-- Break -->
					<div class="12u$">
						<div class="select-wrapper">
							<select name="demo-category" id="demo-category">
								<option value="">- Issue -</option>
								<option value="1">Research</option>
								<option value="1">Networking</option>
								<option value="1">Informal/Friendly Chat</option>
							</select>
						</div>
					</div>
					<!-- Break -->
					<div class="4u 12u$(small)">
						<input type="radio" id="demo-priority-low" name="demo-priority" checked>
						<label for="demo-priority-low">Low</label>
					</div>
					<div class="4u 12u$(small)">
						<input type="radio" id="demo-priority-normal" name="demo-priority">
						<label for="demo-priority-normal">Normal</label>
					</div>
					<div class="4u$ 12u$(small)">
						<input type="radio" id="demo-priority-high" name="demo-priority">
						<label for="demo-priority-high">High</label>
					</div>
					<!-- Break -->
					<div class="6u 12u$(small)">
						<input type="checkbox" id="demo-copy" name="demo-copy">
						<label for="demo-copy">Email me a copy</label>
					</div>
					<div class="6u$ 12u$(small)">
						<input type="checkbox" id="demo-human" name="demo-human" checked>
						<label for="demo-human">I am a human</label>
					</div>
					<!-- Break -->
					<div class="12u$">
						<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
					</div>
					<!-- Break -->
					<div class="12u$">
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="special" /></li>
							<li><input type="reset" value="Clear" /></li>
						</ul>
					</div>
				</div>
			</form>
			<div class="inner">
				<i> *One Piece is Real! </i>
			</div>
		</section>


		
		<section class="split">
			<section>
				<!-- Commenting contact stuff to test twitter
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="#">{{ site.email }}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<span>{{ site.phone }}</span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }},
					{% endif %}
					{% if site.state %}
					    {{ site.state }} 
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
				</div>
			</section>
		-->
		<div class='jekyll-twitter-plugin' align="center">
			<div class='jekyll-twitter-plugin'><a class="twitter-timeline" data-width="500" data-tweet-limit="3" href="https://twitter.com/MangaloreAshish/likes?ref_src=twsrc%5Etfw">Tweets Liked by @MangaloreAshish</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li>

			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
